<div ref="orlenDetailsCard" v-show="showCard">
    <sw-card title="Orlen Paczka">
        <div class="container">
            <sw-order-detail-orlen-detail-card--point-details :order="order" />
        </div>
    </sw-card>
</div>
