<div class="orlen-detail">
    <div class="image">
        <img src="orlen.png" :alt="$tc('cardDetails.pointName')" />
    </div>

    <div class="information">
        <p class="text-bold" ref="pointName"></p>
        <p ref="street"></p>
        <p ref="postCode"></p>
        <p ref="city"></p>
        <p ref="province"></p>
    </div>
</div>
