<div v-show="showCard">
    <sw-card title="Orlen Paczka">
        <div class="container">
            <orlen-pickup-point-details :order="order" />

            <div class="actions">
                <orlen-pickup-point-details-get-label :order="order" />
                <orlen-pickup-point-details-create-package :order="order" />
            </div>
        </div>
    </sw-card>
</div>
